<div>
	<form (submit)="addUser($event)">
		<thead>
			<tr>

				<th><input id="nomeUtente" type="text" placeholder="nomeUtente"></th>
				<th><input id="cognomeUtente" type="text"
					placeholder="cognomeUtente"></th>
				<th><input id="indirizzoUtente" type="text"
					placeholder="indirizzoUtente"></th>
				<th><input id="codiceFiscaleUtente" type="text"
					placeholder="codiceFiscaleUtente"></th>
				<th><input id="cellulareUtente" type="text"
					placeholder="cellulareUtente"></th>
				<th><input id="emailUtente" type="text"
					placeholder="emailUtente"></th>
				<th><input type="Submit" value="submit"></th>

			</tr>
		</thead>
	</form>
</div>
