<div>
	<form [formGroup]="form11" (ngSubmit)="onSubmit()" >
		<thead>
			<tr>
				
				

				
                      
                        <th><input id="id" type="text" formControlName="id" placeholder="ID" ></th>
					
					
			
				
				<th><input id="nomeUtente" type="text" placeholder="nomeUtente" formControlName="nomeUtente"></th>
				<th><input id="cognomeUtente" type="text"
					placeholder="cognomeUtente" formControlName="cognomeUtente"></th>
				<th><input id="indirizzoUtente" type="text"
					placeholder="indirizzoUtente" formControlName="indirizzoUtente"></th>
				<th><input id="codiceFiscaleUtente" type="text"
					placeholder="codiceFiscaleUtente" formControlName="codiceFiscaleUtente"></th>
				<th><input id="cellulareUtente" type="text"
					placeholder="cellulareUtente" formControlName="cellulareUtente"></th>
				<th><input id="emailUtente" type="text"
					placeholder="emailUtente" formControlName="emailUtente"></th> 
				<th><input type="Submit" value="submit"></th>
			</tr>
		</thead>
	</form>
</div>
