<div class="col-lg-12">

  <form (submit)="addUser($event)">
    <thead>
      <tr>
        <th><input id="idUtente" type="text" placeholder="idUtente"></th>
        <th><input id="nomeUtente" type="text" placeholder="nomeUtente"></th>
        <th><input id="cognomeUtente" type="text" placeholder="cognomeUtente"></th>
        <th><input id="indirizzoUtente" type="text" placeholder="indirizzoUtente"></th>
        <th><input id="codiceFiscaleUtente" type="text" placeholder="codiceFiscaleUtente"></th>
        <th><input id="cellulareUtente" type="text" placeholder="cellulareUtente"></th>
        <th><input id="emailUtente" type="text" placeholder="emailUtente"></th>
        <tr *ngFor="let UtTable of utenti"></tr>
        <th><input  *ngFor="type="Submit" value="submit"></th>
        
      </tr>
    </thead>
  </form>




  <table #tabella class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>nomeUtente</th>
        <th>cognomeUtente</th>
        <th>indirizzoUtente</th>
        <th>codiceFiscaleUtente</th>
        <th>cellulareUtente</th>
        <th>emailUtente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let UtTable of utenti">
        <td>{{ UtTable.idUtente }}</td>
        <td>{{ UtTable.nomeUtente }}</td>
        <td>{{ UtTable.cognomeUtente }}</td>
        <td>{{ UtTable.indirizzoUtente }}</td>
        <td>{{ UtTable.codiceFiscaleUtente }}</td>
        <td>{{ UtTable.cellulareUtente }}</td>
        <td>{{ UtTable.emailUtente }}</td>
        <td><button (click)="onClickMe(UtTable)">Del</button></td>
      </tr>
    </tbody>
  </table>
</div>