<div class="col-lg-12">

  <form [formGroup]="form" (submit)="addUser($event)">
   
    <div class="row">
        <div class="col">
            <input class="form-control" type="number" id="idUtente" name="idUtente" placeholder="ID" formControlName="idUtente" />
          </div>
      <div class="col">
        <input class="form-control" type="text" id="indirizzoUtente" name="indirizzoUtente" placeholder="indirizzoUtente" />
      </div>
      <div class="col">
        <input class="form-control" type="text" id="nomeUtente" name="nomeUtente" placeholder="Nome" />
      </div>
      <div class="col">
        <input class="form-control" type="text" id="cognomeUtente" name="cognomeUtente" placeholder="Cognome" />
      </div>
    </div>
    &nbsp;
    <div class="row">
      <div class="col">
        <input class="form-control" type="text" id="codiceFiscaleUtente" name="codiceFiscaleUtente" placeholder="codiceFiscaleUtente" />
      </div>
      <div class="col">
        <input class="form-control" type="number" id="cellulareUtente" name="cellulareUtente" placeholder="cellulareUtente" />
      </div>
      <div class="col">
        <input class="form-control" type="text" id="emailUtente" name="emailUtente" placeholder="emailUtente" />
      </div>
    </div>
    &nbsp;
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary" type="submit" [disabled]="form.invalid">MODIFICA</button>
      </div>
      <div class="col">
        <button class="btn btn-secondary" type="submit" [disabled]="form.valid">CREA</button>
      </div>

    </div>
  </form>
  &nbsp;



  <table #tabella class="table table-striped" style="table-layout:fixed; word-wrap:break-word; ">
    <thead class="thead-dark">
      <tr>
        <th >ID</th>
        <th ><input [(ngModel)]="searchText" placeholder="nomeUtente"></th>
        <th >cognomeUtente</th>
        <th >indirizzoUtente</th>
        <th >codiceFiscaleUtente</th>
        <th >cellulareUtente</th>
        <th >emailUtente</th>
        <th >DEL</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let UtTable of utenti | searchByName : searchText | paginate:  {id: 'listing_pagination',
      itemsPerPage: 5,
      currentPage: page,
      totalItems: totalRec}">
        <td scope="row">{{ UtTable.idUtente }}</td>
        <td>{{ UtTable.nomeUtente }}</td>
        <td>{{ UtTable.cognomeUtente }}</td>
        <td>{{ UtTable.indirizzoUtente }}</td>
        <td>{{ UtTable.codiceFiscaleUtente }}</td>
        <td>{{ UtTable.cellulareUtente }}</td>
        <td>{{ UtTable.emailUtente }}</td>
        <td><button class="btn btn-secondary" (click)="onClickMe(UtTable)">Del</button></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>